.MenuToggle {
  $self: &;
  $hamburger-line-height: 2;
  $hamburger-width: 24;
  $hamburger-margin: 5;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  &__button {
    @include unbutton {
      position: relative;
      transition: transform 400ms cubic-bezier(0.3, 0, 0.3, 0.99) !important;
    }
  }

  &__line {
    display: block;
    width: #{$hamburger-width}px;
    height: #{$hamburger-line-height}px;
    margin: #{$hamburger-margin}px auto;
    transition:
      opacity 200ms ease-out,
      transform 200ms ease-out;
    background-color: v(black);

    &:nth-child(1) {
      margin-top: 0;
    }

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  &--active {

    #{$self}__button {
      transform: rotate(1turn);
    }

    #{$self}__line {

      &:nth-child(1) {
        transform: translateY(#{$hamburger-margin + $hamburger-line-height}px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-#{$hamburger-margin + $hamburger-line-height}px) rotate(-45deg);
      }
    }
  }
}
