.ContactSection {
  $self: &;
  @include section-padded-y;
  @include full-width;
  overflow: hidden;
  background: v(white);

  &__container {
    @include make-container(wide);
  }

  &__heading {
    @include section-heading;
  }
}
