.SkipNavLink {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;

  &:focus {
    position: fixed;
    z-index: 10;
    top: 10px;
    left: 10px;
    width: auto;
    height: auto;
    padding: 1rem;
    clip: auto;
    background: var(--cd-white);
  }
}
