.PageHeader {
  display: flex;
  position: relative;
  align-items: center;
  margin: $grid-gap-sm auto;
  overflow: hidden;
  background: var(--cd-xlight-gray);
  background-position: center;
  background-size: cover;
  @include full-width;

  @include breakpoint(medium) {
    margin: $grid-gap auto;
  }

  &--fullHeight  {
    @include full-height;
  }

  &__container {
    @include make-container(wide);
  }

  &__content {
    @include make-grid(1.5, 1);
    margin: rem(100) 0;

    @include breakpoint(small only) {
      grid-template-rows: minmax(rem(200), auto) auto;

      > *:first-child {
        grid-row: 2 / 3;
      }

      > *:last-child {
        grid-row: 1 / 2;
      }
    }

    @include breakpoint(medium) {
      margin: $mg-vertical 0;
    }

    > * {
      align-self: center;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    transition: 1s opacity ease-out;
    background-position: center;
    background-size: cover;
  }

  &__cta {

    &:hover,
    &:focus {
      border-color: var(--cd-xlight-gray);
    }
  }
}
