.Tools {
  @include section-padded-y;
  @include full-width;
  background: $white;

  &__container {
    @include make-container(wide);
  }

  &__heading {
    @include section-heading;
  }

  &__list {
    @include no-bullet;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: #{$mg-vertical-sm / 2} 0 $mg-vertical-sm 0;
    padding: 0;
  }

  &__item {
    flex: 0 0 25%;
    margin: $mg-vertical-sm / 2;

    @include breakpoint( medium ) {
      flex: 0 0 11%;
      margin: $mg-vertical-sm;
    }

    @include breakpoint( large ) {
      flex: 0 0 12%;
    }

    @include breakpoint( xlarge ) {
      flex: 0 0 7%;
    }
  }
}
