.SocialNav {
  padding: 0;

  &__menu {
    @include make-nav-menu;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(26);
    height: rem(14);
    transform: scale(1);
    transform-origin: center;
    transition:
      transform 0.2s ease-out,
      color 0.2s ease-out;
    border-radius: 50%;
    color: #fff;

    &:hover,
    &:focus {
      transform: scale(1.3);
      color: v(cd-gold);
    }

    svg {
      width: rem(14);
      height: rem(14);
      fill: currentColor;
    }
  }
}
